main {
  width: 100vw;
  height: 90vh;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: left;
  padding: 15px;
  height: 100%;
  width: 50vw;
}

h2 {
  color: #c21d21;
}

p {
  color: #777777;
}

p span {
  color: #000000;
}

.info-item1 {
  margin-bottom: 50px;
}

.img-container {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
