<h3>Registro de mercancias</h3>

<form [formGroup]="form">
  <div>
    <label>Nombre </label>
    <input type="text" formControlName="nombre" />
    <label>descripcion </label>
    <input type="text" formControlName="descripcion" />
    <label>precio </label>
    <input type="text" formControlName="precio" />
    <label>fechaEntrada </label>
    <input type="text" formControlName="fechaEntrada" />
    <label>motivoDevolucion </label>
    <input type="text" formControlName="motivoDevolucion" />
    <label>volumenOcupado </label>
    <input type="text" formControlName="volumenOcupado" />
  </div>
</form>
