<app-header />
<main>
  <div class="info-container">
    <div class="info-item1">
      <h2>EN HIPERMEGARED SOMOS</h2>
      <p>
        Un grupo humano,<span>íntegro, cálido y experto</span> que brinda
        tranquilidad y confianza a sus clientes, a través de soluciones
        logísticas innovadoras en la cadena de abastecimiento. Actuamos con
        <span>responsabilidad y coherencia</span> . Estamos comprometidos con el
        desarrollo sostenible.
      </p>
    </div>
    <div class="info-item2">
      <h2>NUESTRO PROPÓSITO</h2>
      <p>
        Conectamos los sueños de las personas y los negocios con el mejor
        servicio para generar desarrollo sostenible y competitividad.
      </p>
    </div>

  </div>
  <div class="img-container">
    <img src="../../assets/hipermegared.jpg" />
  </div>
</main>
<div>
  <app-mercancias />
  <app-zonas />
</div>